@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: transparent;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    border-radius: 30px;
    z-index: 1;
    transform: rotate(-90deg);
    animation: jump 2s infinite ease-in-out 1s;
  }

  .blue {
    background: linear-gradient(to right, #2563eb 50%, #1e40af 50%);
  }

  .red {
    background: linear-gradient(to right, #dc2626 50%, #991b1b 50%);
  }

  .btn:hover {
    animation-play-state: paused;
  }

  @keyframes animate {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 200%;
    }
  }

  .btn:before {
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    z-index: -1;
    background: linear-gradient(
      90deg,
      #03a9f4,
      #f441a5,
      #ffeb3b,
      #f441a5,
      #03a9f4
    );
    background-size: 200%;
    border-radius: 20px;
    opacity: 0;
    transition: 1s;
  }

  .btn:hover:before {
    filter: blur(16px);
    opacity: 1;
    animation: animate 2s linear infinite;
  }

  @keyframes jump {
    0%,
    100% {
      transform: translateY(0) rotate(-90deg);
    }
    50% {
      transform: translateY(-40%) rotate(-90deg);
    }
  }

  @keyframes animateGradient {
    0% {
      background-position: 0% 0%;
    }
    20% {
      background-position: 25% 25%;
    }
    40% {
      background-position: 50% 50%;
    }
    60% {
      background-position: 0 100%;
    }
    80% {
      background-position: 50% 75%;
    }
    100% {
      background-position: 100% 25%;
    }
  }

  .gradient-animation {
    animation: animateGradient 10s ease infinite;
    background-image: linear-gradient(
      to left,
      #ff00ff,
      #ff00ff,
      #ff00ff,
      #ff0000,
      #ff0000,
      #ff0000,
      #0000ff,
      #0000ff,
      #0000ff,
      #ff00ff,
      #ff00ff,
      #ff00ff,
      #ff0000,
      #ff0000,
      #ff0000,
      #ff00ff,
      #ff00ff,
      #ff00ff
    );
    background-size: 400% 400%;
  }

  .confetti {
    position: absolute;
    width: 10px;
    height: 10px;
    transform-origin: center bottom;
    animation: fall 4s linear infinite;
  }

  .confetti.square {
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
  }
  .confetti.triangle {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }

  @keyframes fall {
    to {
      transform: translateY(100vh) rotate(720deg);
    }
  }
}
